/* don't want it to have a fixed position; so we'll override it */
.topbar {
    position: absolute;
}

.topbar-text {
    float: left;
    display: block;
    padding: 8px 2px 12px;
    color: grey;
    font-size: 20px;
    font-weight: 200;
    line-height: 1;
}

.topbar-text a {
    color: white;
}

.topbar-divider {
    padding-left: 3px;
    padding-right: 3px;
}

/* leave enough gap for the topbar */
#content {
    margin-top: 40px;
}

.search-container {
    padding: 60px;
}

.site-logo {
    float: left;
}

.site-title {
    padding-left: 64px; /* 48px for logo + 16px for padding */
}

#search {
    margin-top: 40px;
}

.tagline {
    display: block;
}

.random-questions-container {
    padding-left: 60px;
    padding-right: 60px;
}

.site-list-container {
    margin-top: 40px;
}

.site-list {
    list-style-image: none;
    list-style-type: none;
    margin-left: 0;
}

.site-list li {
    clear: both;
    margin-bottom: 16px;
}

.site-list img {
    float: left;
    margin-right: 7px;
}

.site-list h6 {
    padding-top: 7px;
    line-height: normal;
    margin-left: 55px; /* 48px for the logo, 7px for the padding */
}

.site-list .tagline {
    padding-top: 3px;
}

.total-hits {
    color: #999999;
    margin-top: 10px;
}

.total-hits p {
    font-size: 16pt;
    line-height: 20pt;
}

.stat-value {
    font-size: 36pt;
    font-weight: bold;
}

#search-results {
    list-style-image: none;
    list-style-type: none;
    margin-left: 0;
}

#search-results li {
    clear: both;
    border-top: 1px solid #CCCCCC;
}

.post-stats-vertical {
    float: left;
    width: 64px;
}

.post-stat {
    text-align: center;
    background-color: #CCCCCC;
    margin-bottom: 2px;
    padding: 4px 3px;
}

.post-stat p {
    margin-bottom: 0;
}

.post-stat-value {
    font-weight: bold;
    font-size: 16pt;
}

.post-summary {
    padding-left: 72px; /* 64px for post-stats-vertical + 8px for padding */
}

.post-details {
    float: right;
}

#footer {
    margin-top: 50px;
    border-top: solid 1px #999999;
    background-color: #CCCCCC;
    padding: 7px 10px;
}